<div class="mdl-grid">
  <div *ngIf="blogs.length === 0" class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
      <md-spinner id="spinner"></md-spinner>
  </div>
  <div *ngIf="blogs.length > 0" class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
      <md-card class="blog-card" *ngFor="let blog of blogs">
          <md-card-header>
            <div md-card-avatar><md-icon>speaker_notes</md-icon></div>
            <md-card-title class="blog-title">{{blog.title}}</md-card-title>
            <md-card-subtitle>{{blog.date | date}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="{{base_img_url}}/{{blog.img[0]}}" alt="Photo of a Blog">
          <md-card-content>
            <div style="word-wrap: break-word" [innerHTML]="blog.excerpt" class="blog-excerpt">
             </div>
          </md-card-content>
          <md-card-actions>
            <button [routerLink]="['/blog/' + blog.slug]" md-raised-button color="primary">READ MORE</button>
            <button [routerLink]="['/create/' + blog.slug]" *ngIf="admin" md-raised-button color="accent">EDIT</button>
            <button id="{{blog.slug}}" (click)="deleteBlog($event)" *ngIf="admin" md-raised-button color="warn">DELETE</button>
          </md-card-actions>
        </md-card>
    </div>
</div>