
  .blog-card {
      margin: 20px auto;
      width: 45%;
  }

  .blog-title {
      font-weight: bold;
      font-size: 16px;
  }

  .blog-excerpt {
      font-size: 16px;
  }

  /* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .blog-card {
        width: 90%;
    }
}
