a {
  color: #FFC107!important;
}

:host >>> .mat-tab-label {
  font-weight: bold!important;
  font-size: 17px;
  letter-spacing: .03em;
}

.desc {
    font-size: 17px;
    letter-spacing: .03em;
}

.title {
  font-size: 20px;
  font-weight: bold;
} 

.logo {
  padding-bottom: 15px;
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
}
  
.demo-tab-content {
  padding: 16px;
}

.tab-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}

#overview_title {
  font-size: 20px;
}

.store-img {
  display: block;
  margin: 0 auto;
  max-height: 124px;
  max-width: 220px;
}