<span id="top_of_page"></span>
<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <mat-tab-group #tabGroup (selectedIndexChange)="tabIdxChange($event)"class="demo-tab-group">
                    <mat-tab label="Overview">
                      <div class="demo-tab-content">
                          <div class="mdl-grid">
                              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <mat-card>
                                  <mat-card-header>
                                      <div mat-card-avatar><mat-icon>work</mat-icon></div>
                                      <mat-card-title class="title" id="overview_title">Skillset &amp; Professional Overview</mat-card-title>
                                  </mat-card-header>
                                  <mat-card-content>
                                    <p class="desc"> 
                                      I've spent the past couple years working as an independent contractor out of Phoenix, AZ.
                                      During this time I've worked with <a href="https://www.karate.com/" target="_blank">Karate Combat</a> building out their hybrid mobile app using the <a href="https://ionicframework.com/" target="_blank">Ionic Framework</a> and <a href="https://www.annuitycheck.com/" target="_blank">AnnuityCheck.com</a>
                                      building their Angular web application. I enjoy working both on the client-side and server-side and aim to be competent on both.
                                    </p>
                                  </mat-card-content>
                                </mat-card>
                              </div>
                              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                  <mat-card>
                                    <mat-card-header>
                                      <mat-card-title class="title">
                                        Front End
                                      </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <section class="example-section">
                                          <mat-progress-bar
                                          mode="determinate" value="70" color="accent">
                                          </mat-progress-bar>
                                        </section>
                                      <ul *ngFor="let item of front_skills; trackBy: tracker;">
                                        <span *ngIf="item.link"><li class="tab-anchor desc" (click)="tabGroup.selectedIndex = item.tab; scrollUp();">{{item.title}}</li></span>
                                        <span *ngIf="!item.link"><li class="desc">{{item.title}}</li></span>
                                      </ul>
                                    </mat-card-content>
                                  </mat-card>
                              </div>
                          
                              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                  <mat-card>
                                      <mat-card-header>
                                          <mat-card-title class="title">
                                            Back End
                                          </mat-card-title>
                                        </mat-card-header>
                                      <mat-card-content>
                                          <section class="example-section">
                                            <mat-progress-bar
                                            mode="determinate" value="30" color="accent">
                                            </mat-progress-bar>
                                          </section>
                                          <ul *ngFor="let item of back_skills; trackBy: tracker;">
                                              <span *ngIf="item.link"><li class="tab-anchor desc" (click)="tabGroup.selectedIndex = item.tab">{{item.title}}</li></span>
                                              <span *ngIf="!item.link"><li class="desc">{{item.title}}</li></span>
                                          </ul>
                                      </mat-card-content>
                                  </mat-card>
                              </div>
                          </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Karate.com">
                        <div class="demo-tab-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <mat-card>
                                        <mat-card-content>
                                            <img class="logo" src="../../assets/img/karate-logo.png">
                                            <p class="desc">
                                                <a href="https://www.karate.com" target="_blank">Karate Combat</a> was founded to elevate and promote the sport of karate worldwide by creating the first professional, full-contact league. The league is targeted at millienials and offers a futuristic viewing experience including a real-time heads up display of fighter biometrics. I built out the mobile app for the company.
                                            </p>
                                            <div class="mdl-grid">
                                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                                    <img (click)="openLink('https://itunes.apple.com/us/app/karate-combat/id1356693989?ls=1&mt=8')" class="store-img" src="../../assets/img/ios.png">
                                                </div>
                                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                                    <img (click)="openLink('https://play.google.com/store/apps/details?id=com.karatecombat.phoneapp')" class="store-img" src="../../assets/img/android.png">
                                                </div>
                                            </div>
                                            <h6 class="title">Tech Stack:</h6>
                                            <ul class="desc">
                                                <li>Ionic 3</li>
                                                <li>Angular (Ionic built on Angular)</li>
                                                <li>Prismic CMS API</li>
                                                <li>Python/Flask API</li>
                                            </ul>
                                    </mat-card-content>     
                                    </mat-card>
                                </div>
                                <app-showcase-card-list 
                                    [width]="'300px'" 
                                    [data]="karate_features"
                                    [cols]="'mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone'">
                                </app-showcase-card-list>
                            </div>
                        </div>  
                    </mat-tab>
                    <mat-tab label="AnnuityCheck.com">
                        <div class="demo-tab-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <mat-card>
                                        <mat-card-content>
                                            <img class="logo" width="200px;" src="../../assets/img/ac_large_steel.png">
                                            <p class="desc">AnnuityCheck is a SaaS company headquarted in Phoenix, AZ that provides a solution for financial agents to better analyze and project their clients investment portfolios.
                                                I have been a front end developer with the company for more than a year now. Unfortunately, I won't be able to post any source code of the application due to confidentiality but below are some some screenshots and descriptions of a few UI/UX features I've built out.
                                            </p>
                                            <h6 class="title">Tech Stack:</h6>
                                            <ul class="desc">
                                                <li>Angular ~4.0</li>
                                                <li>Angular Material Design</li>
                                                <li>Python</li>
                                                <li>PostgreSql</li>
                                            </ul>
                                    </mat-card-content>     
                                    </mat-card>
                                    <app-showcase-card-list 
                                        [width]="'-webkit-fill-available'" 
                                        [data]="ac_features"
                                        [cols]="'mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone'">
                                    </app-showcase-card-list>
                                </div>
                            </div>
                        </div>  
                    </mat-tab>

                    <mat-tab label="Patchdrums">
                        <div class="demo-tab-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <mat-card>
                                        <mat-card-content>
                                            <img style="width: 120px;" class="logo" src="../../assets/img/pdrums.png">
                                            <p class="desc">
                                                WIP...Patchdrums is a mobile app that features drumming video lessons on demand. Lessons are either bought in a pack or individually.
                                                Purchases are processed through Apple's In-App Purchase API or Stripe if on Android.
                                            </p>
                                            <div class="mdl-grid">
                                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                                    <img class="store-img" src="../../assets/img/ios.png">
                                                </div>
                                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                                    <img class="store-img" src="../../assets/img/android.png">
                                                </div>
                                            </div>
                                            <h6 class="title">Tech Stack:</h6>
                                            <ul class="desc">
                                                <li>Ionic 3</li>
                                                <li>Angular (Ionic built on Angular)</li>
                                                <li>Prismic CMS API</li>
                                                <li>Python/Flask API</li>
                                            </ul>
                                    </mat-card-content>     
                                    </mat-card>
                                </div>
                                <!-- <app-showcase-card-list 
                                    [width]="'300px'" 
                                    [data]="karate_features"
                                    [cols]="'mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone'">
                                </app-showcase-card-list> -->
                            </div>
                        </div>  
                    </mat-tab>

                    <mat-tab label="Javascript/JQuery">
                        <div class="demo-tab-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="light" data-slug-hash="BWEBWP" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Simon Says" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ssgriffen/pen/BWEBWP/">Simon Says</a> by Sam (<a href="https://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="https://codepen.io">CodePen</a>.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="0" data-slug-hash="QdPLPx" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Simple JS Calc" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Simple JS Calc</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="light" data-slug-hash="EwpdOb" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Speed Type Test" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ssgriffen/pen/EwpdOb/">Speed Type Test</a> by Sam (<a href="https://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="https://codepen.io">CodePen</a>.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="0" data-slug-hash="mWzLqz" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Tic Tac Toe" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="0" data-slug-hash="wJjVWW" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Pomodoro Close" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/wJjVWW/">Pomodoro Clock</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <p data-height="425" data-theme-id="0" data-slug-hash="PbgNbL" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Wiki Search" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/PbgNbL/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    
                    <mat-tab label="Backend">
                        <div class="demo-tab-content">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <mat-card class="margin-card">
                                    <mat-card-header>
                                        <div mat-card-avatar><mat-icon>check_circle</mat-icon></div>
                                        <mat-card-title class="title">Python - Flask - PostgreSQL</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="desc">
                                        This website is supported with a Python backend. I use a PostgreSql database provisioned by Heroku to manage the blog info and Amazon s3 bucket for the blog images. Check out the source code below.
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button color="primary" mat-raised-button (click)="openLink('https://github.com/ssgriffen/ssgriff-backend-flask')">SOURCE CODE</button>
                                    </mat-card-actions>
                                </mat-card>
                                <mat-card class="margin-card">
                                    <mat-card-header>
                                        <div mat-card-avatar><mat-icon>check_circle</mat-icon></div>
                                        <mat-card-title class="title">Javascript - Node - MongoDB</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="desc">
                                        Currently building out a Node.js backend that can support this app as well. I use a MongoDB database the blog info and the same Amazon s3 bucket for the blog images. Check out the source code below.
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button color="primary" (click)="openLink('https://github.com/ssgriffen/ssgriff-backend-node')" mat-raised-button>SOURCE CODE</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
        </div>
    </div>