a, .cta {
    color: #FFC107!important;
}

.cta {
    text-decoration: underline;
    cursor: pointer;
}

#back_btn {
    cursor: pointer;
}

#chart_container {
    height: 300px!important;
}

.chart-styling {
    /* position: relative;  */
    height: 100%!important; 
    width:100%!important;
    /* margin-left: 15px; */
}

.img-btn {
    width: 100%;
}

.prof-img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    border-style: inset;
}

.img-card {
    background: transparent;
    width: fit-content;
    margin: 0 auto;
    display: block;
}

#skills_card {
    margin-top: 15px;
}


@media screen and (max-width: 1025px) {
    .prof-img{
      max-width: stretch;
    }
  }