.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }

.tab-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}

#overview_title {
  font-size: 20px;
}

.end-title {
  font-size: 18px;
}