<span id="top_of_page"></span>
<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <mat-tab-group #tabGroup (selectChange)="onSelectChange($event)"class="demo-tab-group">
                    <mat-tab label="Overview">
                      <div class="demo-tab-content">
                          <div class="mdl-grid">
                              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <mat-card>
                                  <mat-card-header>
                                      <div mat-card-avatar><mat-icon>work</mat-icon></div>
                                      <mat-card-title id="overview_title">Skillset Overview</mat-card-title>
                                  </mat-card-header>
                                  <mat-card-content>
                                    <p>
                                      The bulk of my professional work has been on the front end, making it is my clear current strength as a developer. 
                                      I've spent the past year working as an independent contractor doing front end development in Phoenix, Arizona. 
                                      The majority of that time has been with <a href="https://www.annuitycheck.com/" target="_blank">AnnuityCheck.com</a>, a SaaS used in the financial services industry to assist clients with their investment portfolios. 
                                      The front end is built in Angular ^2.0 and uses Angular's Material Design CSS components. I am constantly learing and ultimately am aiming to be competent on both the front and backend.
                                    </p>
                                  </mat-card-content>
                                </mat-card>
                              </div>
                              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                  <mat-card>
                                    <mat-card-header>
                                      <mat-card-title class="end-title">
                                        Front End
                                      </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <section class="example-section">
                                          <mat-progress-bar
                                          mode="determinate" value="70" color="warn">
                                          </mat-progress-bar>
                                        </section>
                                      <ul *ngFor="let item of front_skills">
                                        <span *ngIf="item.link"><li class="tab-anchor" (click)="tabGroup.selectedIndex = item.tab">{{item.title}}</li></span>
                                        <span *ngIf="!item.link"><li>{{item.title}}</li></span>
                                      </ul>
                                    </mat-card-content>
                                  </mat-card>
                              </div>
                          
                              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                  <mat-card>
                                      <mat-card-header>
                                          <mat-card-title class="end-title">
                                            Back End
                                          </mat-card-title>
                                        </mat-card-header>
                                      <mat-card-content>
                                          <section class="example-section">
                                            <mat-progress-bar
                                            mode="determinate" value="30" color="warn">
                                            </mat-progress-bar>
                                          </section>
                                          <ul *ngFor="let item of back_skills">
                                              <span *ngIf="item.link"><li class="tab-anchor" (click)="tabGroup.selectedIndex = item.tab">{{item.title}}</li></span>
                                              <span *ngIf="!item.link"><li>{{item.title}}</li></span>
                                          </ul>
                                      </mat-card-content>
                                  </mat-card>
                              </div>
                          </div>
                      </div>
                    </mat-tab>
                        <mat-tab label="Javascript/JQuery">
                          <div class="demo-tab-content">
                              <div class="mdl-grid">
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="light" data-slug-hash="BWEBWP" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Simon Says" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ssgriffen/pen/BWEBWP/">Simon Says</a> by Sam (<a href="https://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="https://codepen.io">CodePen</a>.</p>
                                  </div>
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="0" data-slug-hash="QdPLPx" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Simple JS Calc" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Simple JS Calc</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                  </div>
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="light" data-slug-hash="EwpdOb" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Speed Type Test" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ssgriffen/pen/EwpdOb/">Speed Type Test</a> by Sam (<a href="https://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="https://codepen.io">CodePen</a>.</p>
                                  </div>
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="0" data-slug-hash="mWzLqz" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Tic Tac Toe" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                  </div>
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="0" data-slug-hash="wJjVWW" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Pomodoro Close" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/wJjVWW/">Pomodoro Clock</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                  </div>
                                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                      <p data-height="425" data-theme-id="0" data-slug-hash="PbgNbL" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Wiki Search" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/PbgNbL/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                  </div>
                              </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Angular/Typescript">
                          <div class="demo-tab-content">
                              <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                            <mat-radio-group #group [(ngModel)]="rad_group">
                                                    <mat-radio-button class="example-radio-button" value="ac">
                                                     AnnuityCheck
                                                    </mat-radio-button>
                                                    <mat-radio-button value="sgriff">
                                                     SamGriffen.com
                                                    </mat-radio-button>
                                            </mat-radio-group>
                                    </div>
                                 
                                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <span *ngIf="rad_group === 'ac'">
                                     <mat-card>
                                         <mat-card-content>
                                             <p>AnnuityCheck is a SaaS company headquarted in Phoenix, AZ that provides a solution for financial agents to better analyze and project their clients investment portfolios.
                                                 I have been a front end developer with the company for more than a year now. Unfortunately, I won't be able to post any source code of the application due to confidentiality but below are some some screenshots and descriptions of a few UI/UX features I've built out.
                                             </p>
                                             <h6>Tech Stack:</h6>
                                             <ul>
                                                 <li>Angular ~4.0</li>
                                                 <li>Angular Material Design</li>
                                                 <li>Python</li>
                                                 <li>PostgreSql</li>
                                             </ul>
                                        </mat-card-content>     
                                     </mat-card>
                                     <mat-card class="margin-card" *ngFor="let feature of ac_features">
                                        <mat-card-header>
                                            <mat-card-title class="feat-title"><b>Feature: </b>{{feature.title}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="{{base_img_local}}/{{feature.pic}}">
                                        <mat-card-content>
                                            <p><b class="feat-title">Value: </b>{{feature.desc}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                </span>
                                <span *ngIf="rad_group === 'sgriff'">
                                    <mat-card class="margin-card">
                                        <mat-card-header>
                                            <div mat-card-avatar><mat-icon>check_circle</mat-icon></div>
                                            <mat-card-title class="end-title">Typescript - Angular</mat-card-title> 
                                        </mat-card-header>
                                        <mat-card-content>
                                            The website you are currently on was built with Angular/Typescript. Check out the source code below.
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button color="primary" mat-raised-button (click)="github()">SOURCE CODE</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </span>
                                  </div>
                              </div>
                          </div>  
                        </mat-tab>
                        <mat-tab label="Backend">
                         <div class="demo-tab-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <mat-card class="margin-card">
                                        <mat-card-header>
                                            <div mat-card-avatar><mat-icon>check_circle</mat-icon></div>
                                            <mat-card-title class="end-title">Python - Flask - PostgreSQL</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            This website is supported with a Python backend. I use a PostgreSql database provisioned by Heroku to manage the blog info and Amazon s3 bucket for the blog images. Check out the source code below.
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button color="primary" mat-raised-button (click)="githubBackend()">SOURCE CODE</button>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card class="margin-card">
                                        <mat-card-header>
                                            <div mat-card-avatar><mat-icon>check_circle</mat-icon></div>
                                            <mat-card-title class="end-title">Javascript - Node - MongoDB</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            Currently building out a Node.js backend that can support this app as well. I use a MongoDB database the blog info and the same Amazon s3 bucket for the blog images. Check out the source code below.
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button color="primary" (click)="comingSoon()" mat-raised-button>SOURCE CODE</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                         </div>
                        </mat-tab>
                      </mat-tab-group>
        </div>
    </div>