<!-- <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <md-card>
          <md-card-content>
            Some examples of <b>very</b> past projects. Need to update. -->
            <!-- , show expls of python and rc and what not. -->
          <!-- </md-card-content>
        </md-card>
    </div>
</div> -->

<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <md-tab-group (selectChange)="onSelectChange($event)"class="demo-tab-group">
                        <md-tab label="JS/TS">
                          <div class="demo-tab-content">
                            JS/TS Examples coming soon
                          </div>
                        </md-tab>
                        <md-tab label="Angular">
                          <ng-template md-tab-label>
                            Angular Specific
                          </ng-template>
                          <div class="demo-tab-content">
                            Angular specific examples
                          </div>  
                        </md-tab>
                        <md-tab label="Python/Backend">
                          Python Stuff  
                        </md-tab>
                        <md-tab label="Old Projects">
                         <div class="demo-tab-content">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                        <p data-height="425" data-theme-id="0" data-slug-hash="mWzLqz" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Tic Tac Toe" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                    </div>
                                
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                        <p data-height="425" data-theme-id="0" data-slug-hash="wJjVWW" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Pomodoro Close" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/wJjVWW/">Pomodoro Clock</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                    </div>
                                
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                        <p data-height="425" data-theme-id="0" data-slug-hash="QdPLPx" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Simple JS Calc" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/mWzLqz/">Simple JS Calc</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                    </div>
                                
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                        <p data-height="425" data-theme-id="0" data-slug-hash="PbgNbL" data-default-tab="result" data-user="ssgriffen" data-embed-version="2" data-pen-title="Wiki Search" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/ssgriffen/pen/PbgNbL/">Tic Tac Toe</a> by Sam (<a href="http://codepen.io/ssgriffen">@ssgriffen</a>) on <a href="http://codepen.io">CodePen</a>.</p>
                                    </div>
                                  </div>
                         </div>
                        </md-tab>
                      </md-tab-group>
        </div>
    </div>