<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" class="app-sidenav">
      <mat-toolbar class="nav-toobar" color="primary">
        <!--future svg to go here-->
        <span class="toolbar-filler"></span>
        <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
          <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
          <a *ngFor="let nav_item of nav_items" mat-list-item class="sidenav-link" [routerLink]="[nav_item.link]" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>{{nav_item.icon}}</mat-icon>
            <span  mat-line>{{nav_item.view}}</span>
            <!-- <span mat-line class="secondary">test</span> -->
          </a>
          <span *ngIf="admin">
            <mat-divider></mat-divider>
            <a *ngFor="let nav_item of admin_nav" mat-list-item class="sidenav-link" [routerLink]="[nav_item.link]" (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>{{nav_item.icon}}</mat-icon>
              <span  mat-line>{{nav_item.view}}</span>
              <!-- <span mat-line class="secondary">test</span> -->
            </a>
          </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar class="nav-toolbar" id="appToolbar" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
                  <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
          </button>
      <h1 class="component-title">
        <a [routerLink]="['/about']" class="title-link">{{title}}</a>
      </h1>
      <span class="toolbar-filler"></span>
      <button *ngIf="!admin" mat-button [routerLink]="['/admin']">Admin</button>
      <button (click)="logout()" *ngIf="admin" mat-button>Logout</button>
    </mat-toolbar>
    <div id="tester">
      <router-outlet (deactivate)="onDeactivate()" ></router-outlet>
    </div>
    
  </mat-sidenav-container>