<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
      <p>Obviously more design work to do here...</p>
        <h2>
          {{blog.title}}
        </h2>
        <h4>
          {{blog.date | date}}
        </h4>
        <p>
          {{blog.content}}
        </p>
    </div>
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <md-card *ngFor="let img of blog.imgs">
          <img md-card-image src="{{base_url}}/{{img}}">
      </md-card>
    </div>
</div>

