<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <mat-icon style="cursor: pointer" [routerLink]="['/blogs']" >arrow_back</mat-icon>
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar><mat-icon>import_contacts</mat-icon></div>
              <mat-card-title class="blog-title">{{blog.title}}</mat-card-title>
              <mat-card-subtitle>{{blog.date | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="min-height: 500px" [innerHTML]="blog.content">
                <!-- the min height is needed for a scroll issue... -->
            </mat-card-content>
            <mat-card-actions *ngIf="admin">
              <button [routerLink]="['/create/' + blog.slug]" mat-raised-button color="primary">EDIT</button>
              <button id="{{blog.slug}}" (click)="deleteBlog($event)" mat-raised-button color="warn">DELETE</button>
              <!-- <button mat-raised-button color="primary">COMMENT</button> -->
            </mat-card-actions>
        </mat-card>
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>

