<div class="scrollify" class="mdl-grid">
    <div class="scrollify" class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <md-icon style="cursor: pointer" [routerLink]="['/blogs']" >arrow_back</md-icon>
        <md-card class="mat-elevation-z8">
            <md-card-header>
              <div md-card-avatar><md-icon>import_contacts</md-icon></div>
              <md-card-title class="blog-title">{{blog.title}}</md-card-title>
              <md-card-subtitle>{{blog.date | date}}</md-card-subtitle>
            </md-card-header>
            <md-card-content [innerHTML]="blog.content">
            </md-card-content>
            <md-card-actions *ngIf="admin">
              <button [routerLink]="['/create/' + blog.slug]" md-raised-button color="primary">EDIT</button>
              <button id="{{blog.slug}}" (click)="deleteBlog($event)" md-raised-button color="warn">DELETE</button>
              <!-- <button md-raised-button color="primary">COMMENT</button> -->
            </md-card-actions>
        </md-card>
    </div>
</div>

