<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <mat-card class="intro-card mat-elevation-z8">
            <mat-card-content>
                <p>Posts will be rendered with Markdown. <a href="https://dillinger.io/" target="_blank"> See how it works</a></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="create-card mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar><mat-icon>create</mat-icon></div>
              <mat-card-title class="blog-title">New Blog Post</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="createForm" class="example-form">
                    <mat-form-field class="input">
                        <input matInput placeholder="Title" [formControl]="createForm.get('title')" [(ngModel)]="title">
                    </mat-form-field>
                    <mat-form-field class="date">
                        <input matInput placeholder="Date" [formControl]="createForm.get('date')" [(ngModel)]="date">
                    </mat-form-field>
                    <mat-icon class="today-pick" mdTooltip="Today's Date" mdTooltipPosition="below" (click)="dateToday()">today</mat-icon>
                    <mat-form-field class="text-area">
                        <textarea matTextareaAutosize matAutosizeMinRows="10" matInput placeholder="Content..." [formControl]="createForm.get('content')" [(ngModel)]="content"></textarea>
                    </mat-form-field>    
                </form>
                <input *ngIf="title !== undefined && title !== '' && title !== null " (change)="getLinks()" type="file" [multiple]="multiple" #fileInput accept="image/*">
                <ol *ngIf="img_urls.length > 0">
                    <p>Place available img links in desired spot:</p>
                        <li *ngFor="let url of img_urls"><strong>{{url.view}}: </strong>{{url.value}} </li>
                </ol>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!createForm.valid || img_urls.length === 0" (click)="onSubmit()" mat-raised-button color="primary">POST</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>