<div class="mdl-grid">
  <div *ngIf="blogs.length === 0" class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
      <mat-spinner id="spinner"></mat-spinner>
  </div>
  <div *ngIf="blogs.length > 0" class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
      <mat-card class="blog-card" *ngFor="let blog of blogs">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>speaker_notes</mat-icon></div>
            <mat-card-title class="title">{{blog.title}}</mat-card-title>
            <mat-card-subtitle class="subtitle">{{blog.date | date}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{base_img_url}}/{{blog.img[0]}}" alt="Photo of a Blog">
          <mat-card-content>
            <div style="word-wrap: break-word;" [innerHTML]="blog.excerpt" class="blog-excerpt">
             </div>
          </mat-card-content>
          <mat-card-actions>
            <button [routerLink]="['/blog/' + blog.slug]" mat-raised-button color="primary">READ MORE</button>
            <button [routerLink]="['/create/' + blog.slug]" *ngIf="admin" mat-raised-button color="accent">EDIT</button>
            <button id="{{blog.slug}}" (click)="deleteBlog($event)" *ngIf="admin" mat-raised-button color="warn">DELETE</button>
          </mat-card-actions>
        </mat-card>
    </div>
</div>